<nav class="bg-white py-4 shadow-md">
    <div class="max-w mx-auto px-5 flex justify-between items-center">
        <div class="flex-grow text-center ">
            <span class="font-satisfy text-2xl font-bold text-gray-700 logo">Snaccs</span>
        </div>
        <div class="flex space-x-4 ml-auto">
            <a href="" class="text-gray-800 font-semibold text-lg">Profile</a>
            <a href="" class="text-gray-800 font-semibold text-lg">Orders</a>
            <a href="" class="text-gray-800 font-semibold text-lg">Logout</a>
        </div>
    </div>
</nav>